In [ ]:
def add(a,b):
    return(a+b)

print(add(5,6),add("Tushar"," Sarkar"),add(10,10.656))

In [ ]:
import math
def circle(r):
    return(math.pi*r**2)
    
print(circle(5))

In [ ]:
l=[10,20,30,6,0,45,20]
l[1:6]
l[-3]
l[::2]
l[::]
l[4:]
l[:]
l[-1:-4:-1]
l.insert(8,100)
l[:]

In [ ]:
l1=[20,30,32]
l=[10,20,30,6,0,45,20]
l.extend(l1)
l[:]
l.pop()
l.pop(1)
l.remove(30)
l[:]

In [ ]:
l1=[]
l=[10,20,30,6,0,45,20]
for i in range(len(l)):
    if(l.count(l[i])>1):
        if(l1.count(l[i])<1):
            l1.append(l[i])
        
print("The Duplicates are:",l1)

In [ ]:
l=[1,2,3]
l1=[]

for i in range(len(l)):
    l1.append(sum(l[:i+1]))
        
print("The New array is:",l1[:])

In [ ]:
l=[]
print("Enter the Name of the Students: ")

for i in range(5):
    l.append(input());
print("The List is:",l[:])

l.append(input("Enter another Name: "))
print("The new List is:",l[:])

index=int(input("Enter the Index:"))
print("The Name in the Index is:",l[index])

l1=["Kamal","Sanjana"]
l=l1+l
print("New list after adding the new names:",l)

name=input("Enter a Name to find or remove: ")
if name in l:
    l.remove(name)
else:
    l.append(name)
    
l2=l[-1::-1]
print("Original List:",l[:])
print("Reversed List:",l2[:])

l.remove(l[-1])
print("After removing last element:",l[:])

In [ ]:
l1=[10,20,30]
l2=[50,60,302,502]
l3=[];i=0;j=0

while i<len(l1) and j<len(l2):
        if(l1[i]>l2[j]):
            l3.append(l2[j]);
            j=j+1
        elif(l1[i]<l2[j]):
            l3.append(l1[i])
            i=i+1
        else:
            l3.append(l1[i])
            l3.append(l1[i])
            i=i+1
            j=j+1
 
while i<len(l1):
    l3.append(l1[i])
    i=i+1

while j<len(l2):
    l3.append(l2[j])
    j=j+1

l3[:]

In [ ]:
#Matrix addition
l1=[[1,2],[3,4]]
l2=[[2,6],[-2,4]]
l=[[],[]]
for i in range(2):
    for j in range(2):
        l[i].append(l1[i][j]+l2[i][j])

l[:]

In [ ]:
#Dictionary
emp={'E1':[30,200,'Tushar'],'E2':[10,30,'Aakash'],'E3':[10,1,'Abhrajit']}
e=emp#creating reference
f=emp.copy()#copying the values
emp.pop('E3')#delete the last element
print(emp)
print(emp.keys())
l=list(emp.keys())
print(emp[l[0]][2])
print(emp['E1'][1])
print(emp.items())
print(emp.values())

In [ ]:
"""WAP to input 10 names and ph no. to store in a dictioanary and to input any name and to print the ph no. of
the particular name"""

PhoneBook=dict()

for i in range(3):
    name=input("Enter the name:")
    PhoneBook[name]=int(input("Enter the Number:"))

print(PhoneBook)

In [ ]:
#Escape Sequence print
print("\\n")#add \ before escape sequence to print it
print("i like gita\\'s pink dress")

In [ ]:
str="Tushar"
str=str+" Sarkar"
print(str)
'T' in str#check if 'T' is in str
print(str.upper())
str.find('har')
str.isalnum()
str.strip()
str.split()
str.replace('Sarkar','SARKAR')
'%'.join(str)

In [ ]:
#WAP to print the string in reverse
str=input("Enter the string:")

print("Reversed String:",str[-1::-1])

In [ ]:
#WAP to find palindrome
x=input("Enter the Number/String:")

if x.lower()==x.lower()[-1::-1]:
    print(x,"is Palindrome")
else:
    print(x,"is not Palindrome")

In [ ]:
#wap to split the string
str="Successor"
str.split('s')

In [ ]:
#Pattern
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print("\n")

In [ ]:
str="---xx-xx---"
print(str.strip("-"))#delete all the leading and trailing '-'
print(str.lstrip("-"))#delete all the leading '-'
print(str.rstrip("-"))#delete all the trailing '-'

In [ ]:
str="global warming"
print(str[-1:9:-1])#/str[-1:-5:-1]
print(str[-4:])

In [ ]:
#numpy
import numpy as np#NumPy is the fundamental package for scientific computing in Python.

In [ ]:
a=np.array([1,2,3])#1D array

c=np.array([[1,2],[3,4]])#2D array
d=np.array([[-1,2],[-4,-6]])

x=np.array([[1,2,3],[3,4,5],[1,2,3]])#3D array
y=np.array([[1,2,3],[2,1,5],[1,2,3]])

print("\n",c+d)#Matrix Addition
print("\n",x*y)#Itemwise multiplication
print("\n",x@y)#Matrix Multiplication

In [ ]:
b=np.array([[1,2,3],[4,5,6]])
print("Order of the Matrix is: ",b.shape)#Matrix order

b.shape=(3,2)#Changing the Order of Matrix
print("New order of the Matrix is: ",b.shape)

print("New Matrix is:\n",b)

In [ ]:
a=np.array([1,2,3,4,5,6],ndmin=3)#Modify Matrix Dimention
print(a)

In [ ]:
#Datatype Object(dtype parameter)
#dtype obj is constructed using the following syntax:
#np.dtype(obj,align,copy)[obj=to be converted to datatype obj;
# if align=true adds padding to the field to make it similar C structure;
# copy makes a new copy of dtype obj]
dt=np.dtype('i4')
type(dt)

In [ ]:
dt=np.dtype([('age','i4')])
x=np.dtype([('name','S20'),('age','i1')])

arr=np.array([(10),(20),(30)],dtype=dt)
y=np.array([('abc',10),('def',20),('ghi',30)],dtype=x)

print(arr)
print(y)

In [ ]:
a=np.arange(24)#An array of evenly spaced numbers
print("The array is: ",a)

b=a.reshape(3,2,4)#Makes matrix using array elements(no. of matrices,row,col)
print("\nThe matrices are:\n",b)

In [ ]:
x=np.zeros([3,3],dtype='i4')#null matrix
print(x)

y=np.ones([3,3],dtype='i4')
print(y)

In [ ]:
x=np.zeros((2,2),dtype=[('x','i4'),('y','i4')])
y=np.ones((2,2),dtype=[('x','i4'),('y','i4')])

print(x)
print(y)

In [ ]:
x=[1,2,3]
a=np.asarray(x,dtype=float)#convert list/tuple to array
print(a)

In [ ]:
f=np.frombuffer("Hello World",dtype='i4')
print(f)

In [ ]:
a=np.arange(10)
s=np.sqrt(a)
sum=np.sum(a)
print(sum)
print(s)
print(np.max(a))
print(np.min(a))
print(np.mean(a))
print(np.median(a))
print(np.std(a))#standard deviation
print(np.cumsum(a))#cumulative sum

In [ ]:
a=np.array([[1,2],[3,4]])

print(np.transpose(a))

print(np.max(a,axis=0))#find max column wise
print(np.max(a,axis=1))#find max row wise

print(np.mean(a,axis=0))
print(np.mean(a,axis=1))

print(np.median(a,axis=0))
print(np.median(a,axis=1))

In [ ]:
a=np.arange(1,13)
b=a.reshape(3,4)
print(b)
print(b[0:3,(1,2,3)])#print columns 1,2,3 from row 0 to 3
print(b[0:2,:])
print(b[:,(2,3)])#b[row,col]

In [ ]:
import pandas as gandu

In [ ]:
#pandas dataframe with 2D list
l=[['abc',39],['cde',43],['xyz',28]]

df=gandu.DataFrame(l,columns=['Name','Age'])

print(df)

In [ ]:
dct={'Subject':['phy','chm','mth'],'Marks':['20','30','40']}
df=gandu.DataFrame(dct)
print(df)

In [ ]:
dct={'Name':['Tushar','Aakash','Rishav','Abhrajit','Raj'],'Physics':[20,30,40,50,60]}
df=gandu.DataFrame(dct)
print(df)

In [ ]:
dct={'Name':['Tushar','Aakash','Rishav','Abhrajit','Raj'],'Physics':[20,30,40,50,60]}
df=gandu.Series(dct)
print(df)

In [102]:
import csv

data=read_csv("data.csv")


"""print(data,"\n")
print(data.head(2),"\n")
print(data.tail(2),"\n")"""

arr=data.values

marks=arr[:,1:4]

"""print(marks)
print(marks[0].sum())
print(marks.size)
print(marks.shape[0])"""

"""for i in range(marks.shape[0]):
    a=marks[i].sum()
    arr[i,4]=a

#names=['Name','Physics','Chemistry','Maths','Total']
df=gandu.DataFrame(arr,columns=data.columns)
#print(df)

#df.to_csv("data.csv")"""

print(data.describe())
data.corr(method='pearson')

       Unnamed: 0  Physics  Chemistry  Maths  Total
count    4.000000      4.0        4.0    4.0    4.0
mean     1.500000     40.0       52.5   27.5  120.0
std      1.290994     20.0       15.0   15.0   20.0
min      0.000000     10.0       30.0   20.0   90.0
25%      0.750000     40.0       52.5   20.0  120.0
50%      1.500000     50.0       60.0   20.0  130.0
75%      2.250000     50.0       60.0   27.5  130.0
max      3.000000     50.0       60.0   50.0  130.0

            Unnamed: 0   Physics  Chemistry     Maths     Total
Unnamed: 0    1.000000 -0.774597  -0.774597  0.774597 -0.774597
Physics      -0.774597  1.000000   1.000000 -1.000000  1.000000
Chemistry    -0.774597  1.000000   1.000000 -1.000000  1.000000
Maths         0.774597 -1.000000  -1.000000  1.000000 -1.000000
Total        -0.774597  1.000000   1.000000 -1.000000  1.000000