In [1]:
import sqlite3 as sq3
import pandas as pd

In [2]:
path='Asset_Study/database/baseball.db'
con=sq3.Connection(path)
con

In [7]:
query="""SELECT * FROM allstarfull"""
observation=pd.read_sql(query,con)
print(observation)

      index   playerID  yearID  gameNum        gameID teamID lgID   GP  \
0         0  gomezle01    1933        0  ALS193307060    NYA   AL  1.0
1         1  ferreri01    1933        0  ALS193307060    BOS   AL  1.0
2         2  gehrilo01    1933        0  ALS193307060    NYA   AL  1.0
3         3  gehrich01    1933        0  ALS193307060    DET   AL  1.0
4         4  dykesji01    1933        0  ALS193307060    CHA   AL  1.0
...     ...        ...     ...      ...           ...    ...  ...  ...
5143   5143  seageco01    2016        0  ALS201607120    LAN   NL  1.0
5144   5144  strasst01    2016        0  ALS201607120    WAS   NL  0.0
5145   5145  syndeno01    2016        0  ALS201607120    NYN   NL  0.0
5146   5146  teherju01    2016        0  ALS201607120    ATL   NL  1.0
5147   5147  zobribe01    2016        0  ALS201607120    CHN   NL  1.0

      startingPos
0             1.0
1             2.0
2             3.0
3             4.0
4             5.0
...           ...
5143          NaN
5144          NaN
5145          NaN
5146          NaN
5147          4.0

[5148 rows x 9 columns]

In [9]:
query="""select * from sqlite_master"""
tables=pd.read_sql(query,con)
print(tables)

    type                  name     tbl_name  rootpage  \
0  table           allstarfull  allstarfull         2
1  index  ix_allstarfull_index  allstarfull         3
2  table               schools      schools        26
3  index      ix_schools_index      schools        31
4  table               batting      batting        99
5  index      ix_batting_index      batting       100

                                                 sql
0  CREATE TABLE "allstarfull" (\n"index" INTEGER,...
1  CREATE INDEX "ix_allstarfull_index"ON "allstar...
2  CREATE TABLE "schools" (\n"index" INTEGER,\n  ...
3  CREATE INDEX "ix_schools_index"ON "schools" ("...
4  CREATE TABLE "batting" (\n"index" INTEGER,\n  ...
5  CREATE INDEX "ix_batting_index"ON "batting" ("...

In [11]:
query="""select playerID,sum(GP) as Total_Games,avg(startingPos) as Starting_Pos from allstarfull
group by playerID order by Total_Games desc limit 3;
"""
best=pd.read_sql(query,con)
print(best)

    playerID  Total_Games  Starting_Pos
0  musiast01         24.0      6.357143
1   mayswi01         24.0      8.000000
2  aaronha01         24.0      8.470588