In [ ]:
x,*z,y=5,6,3,7
# using '*' before a variable name let's us use the variable as a list iff the variable is in this kind of format: x,*y,z,... or *x,y,... or x,y,*z
*s,f=5,4,6
print(f)
print(x,y)
print(*z)
print(type(z))

6
5 7
6 3
<class 'list'>

In [ ]:
print([[None]*2]*3)

[[None, None], [None, None], [None, None]]

In [ ]:
class main:
  def __init__(self,l):
    l.reverse()
    print("Reversed List: ",l)

l=list(map(int,input("Enter the list: ").split()))
x=main(l)
del x

Enter the list: 6 4 5 3
Reversed List:  [3, 5, 4, 6]

In [ ]:
class operation:
  def __init__(self,a,b):
    pass
    
  def add(self):
    print('Sum: ',a+b)
  def sub(self):
    print('Sub: ',a-b)
  def mul(self):
    print('Mul: ',a*b)
  def div(self):
    print('Div: ',a/b)
  def mod(self):
    print('Mod: ',a%b)

a,b=map(int,input("Enter the Numbers: ").split())
x=operation(a,b)

x.add()
x.sub()
x.mul()
x.div()
x.mod()

Enter the Numbers: 2 3
Sum:  5
Sub:  -1
Mul:  6
Div:  0.6666666666666666
Mod:  2

In [ ]:
#Search
def lSearch(n):
  global l
  for i in range(len(l)):
    if n==l[i]:
      return i+1
  return -1

def bSearch(low,high,n):
  global l

  while low<=high:
    mid=(low+high)//2
    if l[mid]==n:
      return mid+1
    elif n>l[mid]:
      low=mid+1
    elif n<l[mid]:
      high=mid-1
  return -1

def BSearch(low,high,n):
  global l
  mid =(low+high)//2

  if low<=high:
    if l[mid]==n:
      return mid+1
    elif n<l[mid]:
      return BSearch(low,mid-1,n)
    elif n>l[mid]:
      return BSearch(mid+1,high,n)
  
  return -1
#sort
def BSort():
  global l
  n=len(l)

  for i in range(n-1):
    for j in range(n-i-1):
      if l[j]>l[j+1]:
        l[j],l[j+1]=l[j+1],l[j]
  print(l)

def SelSort():
  global l
  n=len(l)

  for i in range(n):
    min=i
    for j in range(i+1,n):
      if l[j]<l[min]:
        min=j
    l[min],l[i]=l[i],l[min]
  print(l)

l=[6,80,1,2,9,8,0,3]

In [ ]:
BSort()

[0, 1, 2, 3, 6, 8, 8, 9]

In [ ]:
SelSort()

[0, 1, 2, 3, 6, 8, 8, 9]

In [ ]:
x=bSearch(0,len(l)-1,9)

In [ ]:
x=lSearch(9)

In [ ]:
x=BSearch(0,len(l)-1,3)

In [ ]:
if x>=0:
  print("Data found at position: ",x)
else:
  print("Data not found!")

Data found at position:  4

In [ ]:
#Pascal Triangle
import math

def nCr(n,r):
    return (math.factorial(n)//(math.factorial(r)*math.factorial(n-r)))

n=int(input("Enter range: "))
for i in range(n):
    print(" "*(n-i),end="")
    for j in range(i+1):
        print(nCr(i,j),end=" ")
    print()

Enter range: 6
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1

In [ ]:
#GCD recursion
def GCD(x,y):
  if x%y==0:
    return y
  else:
    return GCD(y,x%y)

x,y=map(int,input("Enter the Numbers: ").split())
print("GCD: ",GCD(x,y))

Enter the Numbers: 121 66
GCD:  11

In [ ]:
n=int(input())

for i in range(n):
  print(' '*(n-i),end="")
  for j in range(1,i+2):
    print(j,end="")
  if i!=0:
    for k in range(i,0,-1):
      print(k,end="")
  print()

5
     1
    121
   12321
  1234321
 123454321